main{
  height: 650px;
  max-width: 800px;
  background-color: whitesmoke;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}


.border{
  margin-right: 5%;
  width: 90%;
  height: 35%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(2, 80px);
  justify-content: space-between;
  align-content: space-between;
 
}

.win_msg{
 
  position: absolute;
  margin-left: 18%;
}

.title{
  font-weight: 700;
  color: #2B283A;
  letter-spacing: -0.03em;
  margin-bottom: -50px;
}
.subtitle{
  color: #4A4E74;
  letter-spacing: -0.03em;
  font-weight: 400;
  width: 50%;
}




button{
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color 0.2s ease-out;
  width: 20%;
  height: 12%;
  border: none;
background: #5035FF;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 3.81277px;
color: #FFFFFF;
font-size: 20px;
font-family: 'Inter', sans-serif;
font-weight: 700;
letter-spacing: 0.09em;
cursor: pointer;
}
button:hover{
  background-color: #4A4E74;
}
button:active {

  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Dice faces */


.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice {
  -webkit-transition: background-color 0.2s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 104px;
  height: 104px;
  border-radius: 10%;
  margin-right : 10px;
  cursor: pointer;
}
.dot{
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:rgb(0, 0, 0);
}

.second-face{
  display: flex ;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
  align-self :flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self :center;
}


.fourth-face , .sixth-face, .fifth-face{
  display: flex;
  justify-content: space-between;
}

.fourth-face .column , .sixth-face .column, .fifth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}