.box{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 70px;
  
    height: 70px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    -webkit-transition: background-color 0.2s ease-out;
}



.box > h1 {

    color: "#2B283A";
    
    align-items: center;
    justify-content: center;
}

